.vertical-form {
  mat-form-field {
    display: block;
  }
}

.cursor-pointer {
  cursor: pointer;
}

.container {
  padding: 1rem;

  &-info {
    display: flex;
    margin-top: 0.2rem;

    > div {
      &:first-child {
        width: 40%;
      }

      > app-label-value {
        display: block;
        margin-bottom: 1rem;
      }
    }
  }

  &--flex-horizontal {
    display: flex;
  }

  &--flex-vertical {
    display: flex;
    flex-direction: column;
  }

  &--overflow-page {
    height: 100%;
    overflow-y: auto;
  }
}

.divider {
  margin-bottom: 1rem !important; // todo in feature delete important
}

.center-elem {
  text-align: center;
}

.space-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}
